@font-face {
    font-family: 'Lexend Deca';
    src: url('../../public/fonts/Lexend/static/Lexend-ExtraBold.ttf') format('truetype');
    src: url('../../public/fonts/Lexend/static/Lexend-Regular.ttf') format('truetype');
}

body {
    background-color: #f9f7f7;
    font-family: "Lexend Deca";
}

/* Style the container for the SignIn component */
.signin-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Style the form container */
  .form-container {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .form-container input[type="email"],
  .form-container input[type="password"] {
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    background: #224957;
    color: white
  }
  
  ::placeholder{
    color: white;
    opacity: 1;
  }
  .form-container button[type="submit"] {
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 4px;
    width: 73%;
    background-color: #63CAB1;
    color: white;
    cursor: pointer;
    color: #224957;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: white;
  }
  